<html>
  <head>
    </head>
    <body>
        <form #f="ngForm" (submit)="apply(f)">
            <table>
                <tr>
			<td > NAME</td>
                        <td><input type="text"  name="name" id="name" [(ngModel)]="student.name"></td>
		</tr>
                <tr>
			<td>USERNAME</td>
                        <td><input type="text"  name="username" id="username" [(ngModel)]="student.username" ></td>
		</tr>
                <tr>
			<td>PASSWORD</td>
                        <td><input type="password"  name="password" id="password" [(ngModel)]="student.password"></td>
		</tr>
<tr>
  <td><input type="submit" name="submit" value="submit"/></td>
</tr>
</table>
</form>
    </body>
</html>