
  
    <!-- <p>
  profile works!
</p> -->
<!--<html>
    <head>
  
    </head>
    <body>
      <div>
        <h1>{{user.name}}</h1>
        <h3>{{user.job}}</h3>
        <button (click)="togglecheck()">Expand/Collapsed</button>
        <div *ngIf=!check>
        <p>
          {{user.address}} 
        </p>
        <div *ngIf="user.phone.length>0">
        <!-- <p>phone</p>
        <p>{{user.phone[0]}}</p>
          <p>{{user.phone[1]}}</p> 
        <p *ngFor="let phonenumber of user.phone">{{phonenumber}}</p>
      </div>
      </div>
    </div>
        </body>
  </html>-->
  
  